.topNav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    background: #cacaca;
    margin: 0;
    padding: 0;
}

.topNav li {
    display: inline-block;
    flex: 0 1 auto;
    list-style-type: none;
    background: #fafafa;
}

.topNav li img {
    max-height: 12px;
    max-width: 12px;
}

.topNavRight {
    margin-right: 20px;
}

.appList {
    max-width: 12px;
    max-height: 12px;
}

.mainPageLogo {
    /*background-color: lightseagreen;*/
    display: block;
    max-width: 400px;
    max-height: 400px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: auto;
}

.searchWrapper {
    /*background-color: lightskyblue;*/
    position: relative;
    display: flex;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.magnifyingIcon {
    position: absolute;
    top: 12px;
    left: 14px;
    width: 18px;
}

.micIcon {
    position: absolute;
    top: 11px;
    right: 14px;
    width: 14px;
}

.searchBar {
    border: 1.5px solid lightgrey;
    border-radius: 32px;
    height: 40px;
    width: 100%;
    padding: 2px 40px 2px 40px;
    outline: 0;
    background-color: white;
}

.searchBar:hover, .searchBar:focus {
    box-shadow: 1px 1px 1px 1px rgb(236, 236, 236);
}

.footer {
    background-color: lightgreen;
    position: fixed;
    bottom: 5px;
    display: inline;
    width: 100%;
}

.footer p {
    display: inline;
}
