.mainPageLogo {
    display: block;
    max-width: 400px;
    max-height: 400px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.searchWrapper {
    position: relative;
    display: flex;
    min-width: 100px;
}

.magnifyingIcon {
    position: absolute;
    top: 12px;
    left: 14px;
    width: 18px;
}

.micIcon {
    position: absolute;
    top: 11px;
    right: 14px;
    width: 14px;
}

.searchBar {
    border: 1.5px solid lightgrey;
    border-radius: 32px;
    height: 40px;
    width: 100%;
    padding: 2px 40px 2px 40px;
    outline: 0;
    background-color: white;
}

.searchBar:hover, .searchBar:focus {
    box-shadow: 1px 1px 1px 1px rgb(236, 236, 236);
}
.entireFooter {
    background-color: lightgrey;
}
.upFooter {
    margin: auto;
}

.upperFooter {
    color: grey;
    text-align: center;
}

.lowFooter {
    color: grey;
    width: 100%;
    text-align: center;
}

.lowerFooter {
    display: inline;    
}