.mainPageLogo {
    display: block;
    max-width: 400px;
    max-height: 400px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.entireFooter {
    background-color: lightgrey;
}
.upFooter {
    margin: auto;
}

.upperFooter {
    color: grey;
    text-align: center;
}

.lowFooter {
    color: grey;
    width: 100%;
    text-align: center;
}

.lowerFooter {
    display: inline;    
}